src/main/resources/ehealth-kmehr/XSD/dt-1_42.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ehealth.fgov.be/standards/kmehr/dt/v1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ehealth.fgov.be/standards/kmehr/dt/v1" version="1.42">
 <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:appinfo>
 Implementation-Title: XSD 22. KMEHR
 Specification-Version: 1.42
 Implementation-Version: 1.42.3
 Build-Time: 20250924-0829 
 </xs:appinfo>
 </xs:annotation>
	<!--Date, Time, Decimal and Boolean are primitive datatype's as defined in XML-schema part 2. -->
	<xsd:complexType mixed="false" name="textType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="L" type="xsd:language" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="date">
		<xsd:restriction base="xsd:date">
		<xsd:pattern value="((000[1-9])|(00[1-9][0-9])|(0[1-9][0-9]{2})|([1-9][0-9]{3}))-((0[1-9])|(1[012]))-((0[1-9])|([12][0-9])|(3[01]))"/> 
		<xsd:maxInclusive value="9999-12-31"/> 
		<xsd:minInclusive value="1901-01-01"/> 
	  </xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="time">
		<xsd:restriction base="xsd:time">
		<xsd:pattern value="(([01][0-9])|(2[0-3]))(:[0-5][0-9]){2}(\.[0-9]+)?"/> 
		<xsd:minInclusive value="00:00:00"/> 
		<xsd:maxInclusive value="23:59:59"/>
	  </xsd:restriction>
	</xsd:simpleType> 
</xsd:schema>